body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d4882;
}
#mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;   
}
#notesSection{
    margin-left: 2rem;
}
#newNoteSection{
    margin-left: 2rem;
}
#notesSectionHeader{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#notesSectionHeader button{
    margin: auto;
    margin-left: 7rem;
    border-radius: 1rem;
    padding: 4px 8px;
    font-size: 12px;
    width: 60px;
    height: 30px; 
}
#notesSectionHeader button:hover{
    transform: scale(1.2);
    transition:  0.5s;
}
.searchRow{
    width: 100%;
    max-width: 300px;
}
.topRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#newNoteSection{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#noteTitle{
    margin-bottom: 2rem;
}
#noteText{
    width: 25rem;
    height: 25rem;
    vertical-align: top;
    padding-top: 6px;
}
